@font-face {
    font-family: Didact;
    src: url('../Didact_Gothic/DidactGothic-Regular.ttf');
}

body,
header,
footer {
    display: flexbox;
    font-family: Didact;
    border-radius: 2%;
}

header {
    text-align: center;
    font-size: x-large;
    width: 100%;

}

.transition-container {
    position: relative;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transition-container img {
    text-align: center;
    width: 150px;
    height: 150px;
}

.image-transition {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}

.image-transition.active {
    opacity: 1;
}

footer {
    position: relative;
    bottom: 0%;
    height: 10%;
    padding: 5px 0px;
    clear: both;
    background: #333;
    text-align: right;
}

footer a {
    padding-right: 1.5%;
}

footer div {
    padding-right: 4%;
}

body {
    text-align: center;
}

#barra {
    text-align: center;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    padding-left: 5%;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li #blog {
    color: #FABADA;
    text-align: center;
    float: left;

}

#blogli {
    float: right;
    padding-right: 2%;
}
#content{
    background-color: #FABADA;
}
#musica {
    display: inline-block;
    float: left;
    text-align: center;
    background: white;
    overflow: hidden;
    padding: 20px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #333;
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 4%;
}


/* Cambia el color cuando pasas el raton por encima*/
li a:hover {
    background-color: black;
    font-size: large;
}


h1 {
    text-transform: uppercase;
    font-size: x-large ;
}

#musica {
    text-align: left;
}

#ultimahora {
    background-color: #FABADA;

    margin-bottom: 1%;
    display: flex;

    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#ultimahora div {
    flex-basis: 46%;
}
#ultimahora #noticia7musica{
    flex-basis: 100%;
    margin-right: 4.2%;
}

#ultimahora div {
    text-align: justify;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 1%;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
    margin: 2%;
}

#ultimahora div img {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 350px;
    object-fit: cover;
}

#titulo {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h1 {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
    text-align: center;
    
}

@media (max-width: 768px) {
    
    #ultimahora div {
        flex-basis: 100%;
    }
}